body {
  background-color: rgb(17, 15, 15);
}

h1 {
  color: rgb(238, 79, 79);
  font-family: cursive;
  text-align: center;
}

p {
  color: rgb(238, 69, 69);
}

h2 {
  color: rgb(152, 152, 168);
}

ol {
  color: rgb(238, 69, 69);
}

ul {
  color: rgb(238, 69, 69);
}

.navbar {
  background-color: rgb(184, 138, 138);
  color: rgb(11, 12, 10);
  margin: 25px;
}

li.navitem a {
  display: block;
  color: rgb(2, 6, 14);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 25px;

  text-decoration: none;
}
