body {
  background-image: url(CodingBackground/anime-girl-sky-clouds-ls-1920x1080.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: rgb(224, 241, 241);
  font-family: cursive;
  text-align: center;
  padding: 0px;
  margin: 15px 0px;
}

p {
  font-weight: bolder;
  color: rgb(3, 3, 3);
  margin: 15% 15%;
  padding: 2%;
  text-align: center;
}

h2 {
  font-weight: 100;
  color: rgb(247, 242, 242);
  text-align: center;
}

ul {
  font-weight: bolder;
  color: rgb(3, 3, 2);
  text-align: center;
}

ol {
  font-weight: bolder;
  color: rgb(5, 5, 3);
  text-align: center;
}

.navbar {
  list-style-type: none;
  display: block;
  background-color: rgba(53, 51, 187, 0.288);
  color: rgb(10, 10, 10);
  margin: 75px 150px;
  border-radius: 35px;
}

li.navitem a {
  color: rgb(221, 207, 221);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px 35px;
  padding: 45px 45px;

  text-decoration: none;
}

li.navitem a:hover {
  color: rgb(0, 0, 0);
}
